@layer components {
  .pagination-button {
    @apply rounded-full border border-slate-200 bg-white py-1 
           text-xs text-slate-600 shadow-sm hover:bg-slate-50 
           disabled:cursor-not-allowed disabled:opacity-40;
  }

  .photo-button {
    @apply absolute top-1/2 flex h-10 w-10 -translate-y-1/2 
           items-center justify-center rounded-full bg-black/50 
           text-white backdrop-blur-sm hover:bg-black/70 
           md:h-12 md:w-12 md:bg-white/10 md:text-lg;
  }
}
