@import 'tailwindcss';

/* @import './styles/base.css';
@import './styles/component.css';
@import './styles/font.css';
@import './styles/theme.css';
@import './styles/modal.css';
@import './styles/utilities.css'; */
